@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.load-hidden {
  visibility: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  background: #182643;
  background-repeat: no-repeat;
}


.container {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  height: 100%;
}

.container header {
  width: 100%;
}

.image-header-content {
  width: 100%;
  background: url(../assets/Header-bg.jpeg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.container .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  bottom: 55px;
  padding-inline: 20px;
}

.info .content-img {
  width: 110px;
  height: 110px;
}

.content-img img {
  border-radius: 50%;
  width: 100%;
}

.info-content {
  /* margin-top: 80px; */
  text-align: center;
  color: #f2f2f2;
}

.info-content h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.info-content p {
  font-size: 18px;
}

.links-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-content ul {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  gap: 12px;
}

.links-content ul li {
  width: 100%;
}

.link {
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  display: block;
  color: #f2f2f2;
  text-align: center;
  background-color: #525d6f;
  border-radius: 10px;
  transition: background 0.3s;
}

.links-content ul li a:hover {
  background-color: #182643;
}

footer {
  width: 100%;
  display: flex;
  margin-top: 65px;
  justify-content: center;
  padding-bottom: 30px;
}

footer p {
  font-size: 14px;
}

footer p,
footer p a {
  color: #858585;
  transition: color 0.3s;
}

footer p a:hover {
  color: #fff;
}

@media screen and (max-width: 360px) {
  .image-header-content {
    background-position: left;
  }
}
